*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: url("background.jpg") center center fixed;
    background-size: cover;
}
h1{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    font-family: "Rubik",sans-serif;
    color: #ffffff;
    font-size: 80px;
    letter-spacing: 20px;
    cursor: pointer;
    filter: blur(5px);
    transition: 0.3s all;
}
h1:hover{
    filter: blur(0);
}